body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #075e54;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.registration-section,
.farm-details-section,
.crop-details-section {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d8050;
}

#map {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #075e54;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d8050;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 650px; 
    
}

.btn:hover {
    background-color: #075e54;
}
